/* common */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;500;700;900&display=swap");

* {
    font-family: "Jost", sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Home */

/* End Home */

/* Players */

body {
    /* background-color: green; */

    background-image: url("../img/bg.png");
    background-repeat: no-repeat;

    /* max-width: 100%; */

    background-size: cover;

    object-fit: contain;
}

.main div {
    width: fit-content;
    margin: 0 auto;

    /* background-color: blue; */
}
#card_body ul li{
    border-top: 1px solid #8f898975;
}
#heading {
    margin-top: 50px;
    margin-bottom: 35px;

    /* background-color: red; */

    color: white;
}

#score {
    margin-bottom: 20px;

    text-align: center;

    color: #A1F170;
}

#card_body {
    border: 0;
    border-radius: 22px 22px 20px 20px;
    filter: drop-shadow(23px 10px 9px #00000039);    
}

.info_card li {
    border: 0;

    /* background-color: red; */

    background: linear-gradient(211.06deg, rgba( 0, 255, 87, 0.2) 30.31%, rgba( 117, 165, 122, 0.156) 73.14%) , #D9D9D9;
}

.card_bottom {
    width: 100% !important;

    border-radius: 0 0 22px 22px;

    /* background-color: red; */

    background: linear-gradient(284deg, rgba( 0, 255, 87, 0.2) 30.31%, rgba( 117, 165, 122, 0.156) 73.14%) , #D9D9D9;
}

#player_img {
    border-radius: 20px 20px 0 0;
}
#result{
    margin: 1rem;
}

/* select */

#choose_player {
    margin-top: 1.5rem;
    font-size: 16px;

    width: 200px;
    padding: 8px;

    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: #fff;
}

/* Styles for the select element when hovered */

#choose_player:hover {
    cursor: pointer;

    background-color: #f0f0f0;
}

/* Styles for the options */

#choose_player option {
    font-size: 16px;

    padding: 8px;

    color: #000;
    background-color: #fff;
}

/* Styles for the options when hovered */

#choose_player option:hover {
    cursor: pointer;

    background-color: #f0f0f0;
}

/* select end */

/* buttons */

.btn {
    font-family: inherit;
    font-size: inherit;

    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 95px;
    padding: 0.5em 1em;

    transition: color 0.4s ease-in-out;

    color: white;
    border: none;
    outline: none;

    /* background-color: hsl(236, 32%, 26%); */

    background-color: #445200;
}

.btn::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    width: 1em;
    height: 1em;

    content: '';
    transition: transform 0.45s ease-in-out;
    transform: translate3d(-50%, -50%, 0) scale3d( 0, 0, 0);
    transform-origin: center;

    border-radius: 50%;
    background-color: #72937d;
}

.btn:hover {
    cursor: pointer;

    color: white;
    background-color: #445200;
}

.btn:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d( 15, 15, 15);
}

/* buttons end */

/* End Players */

/* Managers */

/* End Managers */

/*

 Rectangle 1

position: absolute;
width: 500px;
height: 707px;
left: calc(50% - 500px/2);
top: calc(50% - 707px/2 + 149px);

background: linear-gradient(211.06deg, rgba(0, 255, 87, 0.2) 30.31%, rgba(117, 165, 122, 0.156) 73.14%), #D9D9D9;
border-radius: 25px;

*/
